*.json
*.pyc
*.ogg
auth.py
*.lrc
*.mp3
*.wav
*.js
*.go
.idea
scripts/*
*.env
*.db
*.dat
*.mp4
*.session
musicbot/*
test_cred.py
downloads/
web/node_modules/
web/dist/
!web/index.html
!web/**/*.js
!web/**/*.json
